/*universal styling*/
body{
  background-color: grey;

}
div{ 
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}
/*universal styling end*/

.whole{  /*outer main box*/
  height: 98vh;
  width: 98vw; 
  border: none;
}

.torso{ /*main content*/
  height: 99vh;
  width: 75vw;
  margin: auto;
  
}

.bar{
  width: 96%;
  height: 10%;
  margin:auto;
  margin-top: 1.75%;
 
}


.name{
  height:90%;
  width: 75%;
  border-width: 0.1px;
  margin: auto;
  margin-top: .25%;
  border-color: white; /*if the div is white then -  remove it later after getting the info for set div*/
  
}

.name-drop-box{
  color: black;                          
  font-family: sans-serif;
  font-size: 200%;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

.filter-bar{
  width: 72%;
  height: 9%;
  margin:auto;
  margin-top: 0.75%;
}
.all-filter-bar{
  height: 80%;
  width: 25%;
  margin-top: 0.75%;
  margin-left: 15%;
  display: inline-block;
 
}

.choose-all-button{
  color: white;
  margin-left: 5%;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  box-shadow: none;
  border-width: 0.1px;
  outline: none;
  border: none;
  margin-top: 0%;
}

.choose-all-button:active{
  background-color: black;
  color: grey;
}

.choose-genre-button{
  color: white;
  margin-left: 5%;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  box-shadow: none;
  border-width: 0.1px;
  outline: none;
  border: none;
  margin-top: 0%;
}
.choose-genre-button:active{
  background-color: black;
  color: grey;
}

.genre-filter-bar{
  height: 80%;
  width: 25%;
  margin-top: 0.75%;
  margin-left: 15%; 
  display: inline-block;
}

